* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: linear-gradient(135deg, #1e1e1e, #4a90e2);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: #fff;
    padding: 20px;
    text-align: center;
    width: 350px;
    box-shadow: 0px 6px 20px;
    border-radius: 10px;
}

h2 {
    color: #007bff;
}

input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}



.glow-button {
    background: linear-gradient(45deg, #ff00ff, #0056b3);
    border: none;
    color: white;
    padding: 12px 24px;
    font-size: 18px;
    font-weight: bold;
    text-transform: lowercase;
    cursor: pointer;
    border-radius: 8px;
    transition: 0.3s ease-in-out;
    outline: none;
}

.glow-button:hover {
    transform: scale(1.05);
}

.glow-button:active {
    transform: scale(0.95);
}

p {
    margin-top: 10px;
}

#error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}